<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calpoly.sodec.sodecapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:largeHeap="true">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="edu.calpoly.sodec.sodecapp.action.SCHEDULE_COLLECTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SensorCollectionReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="COLLECT_SENSOR_DATA" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PowerGeneratedActivity"
            android:label="@string/title_activity_power_generated" >
        </activity>
        <activity android:name=".PowerGraphDayActivity" />
        <activity android:name=".PowerGraphMonthActivity" />
        <activity android:name=".PowerGraphWeekActivity" />
        <activity android:name=".PowerGraphYearActivity" />
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".LightingActivity"
            android:label="@string/title_activity_lighting"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.calpoly.sodec.sodecapp.MainActivity" />
        </activity>
        <activity
            android:name=".PowerActivity"
            android:label="@string/title_activity_power" >
        </activity>
        <activity
            android:name=".SuggestionsActivity"
            android:label="@string/title_activity_suggestions" >
        </activity>
        <activity
            android:name=".PowergraphActivity"
            android:label="@string/title_activity_powergraph" >
        </activity>
        <activity
            android:name=".PowerUsedRoomActivity"
            android:label="@string/title_activity_power_used_room" >
        </activity>

        <service
            android:name=".PowerCacheIntentService"
            android:exported="false" >
        </service>

    </application>

</manifest>
